# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint
*.DS_Store
default.profraw


# Modular
#
Modular-App/Modular-App/Resources
Zapp-App/Resources/
Zapp-App/Images.xcassets/
Zapp-App/Customization/ApplicasterSettings.plist
Zapp-App/Customization/GAFeaturesCustomization.plist
Zapp-App/Customization/GASecretCredentials.m
Zapp-App/Customization/GAUICustomization.plist
Zapp-App/Customization/GAZappStyles.json
Zapp-App/Zapp-App-Info.plist
Zapp-App/CachedFiles/

# ZappConfiguration
#
.zapp_env
quick_brick/*

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
Pods/**

# Ruby versions
.bundle/
.ruby-version

#Node
node_modules
